# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# Test / lint caches
.pytest_cache/
.ruff_cache/

# Environment variables
.env

# Airflow local runtime files
config/
logs/
plugins/

# Build artifacts
build/
dist/

# OS / IDE
.DS_Store
.idea/
.vscode/
